@import url(css/magnific-popup.css);@import url(css/ui-top.css);@import url(css/style-alt0.css);@import url(css/style-alt1.css);@import url(css/style-alt2.css);@import url(css/style-alt3.css);@import url(css/style-alt4.css);@import url(css/style.css);body {
    /* font-family: "Roboto", Arial, sans-serif */
    font-family:  "Open Sans", "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.header__container {
    /* background-color: #cf6f03 !important */
    background-color:rgb(10, 81, 124) !important
}

.header__container .social-icons__link {
    color: #f4f4f4
}

.news {
    background-image: none;
    background-color: #009ea0
}

img {
    max-width: 100%
}

.hide-images img,.hide-images br {
    display: none !important
}

h1,h2,h3,h4,h5,h6 {
    color: #555
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
    color: #212121
}


.btn {
    font-weight: normal !important;
    /* font-family: "Roboto", Arial, sans-serif */
    font-family: "Open Sans", "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.center_x_y {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto
}

.center_text {
    text-align: center
}

.justify {
    text-align: justify
}

.margin-bottom-100 {
    margin-bottom: 100px
}

.margin-bottom-25 {
    margin-bottom: 25px
}

.partners img {
    background-color: white;
    padding: 5px 30px !important;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.partners img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%)
}

.carousel-inner .item {
    background-color: #333
}

.carousel-inner .item img {
    opacity: 0.5
}

.img-circle {
    border-radius: 50% !important
}

.technologies-list .technology-item img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.technologies-list .technology-item img:hover {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    opacity: 0.2
}

.technologies-list .technology-item .caption {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center
}

.technologies-list .technology-item h2 {
    top: 50%;
    margin-top: -10px
}

.padding-right-0 {
    padding-right: 0px
}

.padding-left-0 {
    padding-left: 0px
}

.widget-title.big,.main-title__primary {
    letter-spacing: 3.5px;
    font-family: "Open Sans";
}

h1,h2,h3,h4 {
    font-family: "Open Sans";
    letter-spacing: 1px
}

.widget_pw_icon_box img {
    max-height: 170px;
    filter: grayscale(100%);
    filter: gray;
    -webkit-filter: grayscale(100%);
    padding: 30px
}

.widget_pw_icon_box img:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%)
}

h4.latest-news__title {
    letter-spacing: 0px
}

body.pages .pages-container {
    color: #666 !important
}

body.pages hr,body.pages img.wide-img {
    margin: 50px 0px
}

body.pages img.no-margin-top {
    margin-top: 0px !important
}

@media screen and (min-width: 992px) {
    .max-height-350 {
        max-height:350px !important
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }
}
