a{
	text-decoration:none;
}
html, body{
	height: 100%;
	padding: 0;
	margin: 0;
	background: #222222;
}
header{
    height: 600px;
    background: url(fondo.jpg);
    background-size: 100% auto;
    background-position-y: 600px;
}
main{
    position: relative;
    width: 990px;
    height: 400px;
    margin: 0 auto;
    margin-top: -300px;
    left: 15px;
}
footer{
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    margin-top: 150px;
}
.webs{
    background: #fff;
    min-height: 444.81px;
    width: 300px;
    float: left;
    margin-left: 15px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.webs:hover{

}
.websScale{
    cursor: pointer;
    transform: scale(1.1, 1.1);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}
.webs img{
	width: 100%;
}
.webs h2{
	    padding-left: 25px;
    font-family: sans-serif;
    color: #575757;
}
.webs p{
	    padding: 25px;
	    padding-top: 0;
	    color: #676767;
        font-family: sans-serif;
}
.title{
    border: 2px solid rgba(255,255,255,0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background: rgba(0,0,0,0.3);
    color: #fff;
    margin-top: 55px;
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    font-weight: 600;
}
.title span{
    position: absolute;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color: #3F51B5;
    padding: 10px;
    border-top: 5px solid;
    left: 50%;
    transform: translateX(-50%);
    width: 424px;
    bottom: -30px;
}