/* Global Styles */



/* Video Overlay */
#equipo {
    z-index: 1;
}

#overlay {
background-color:rgba(0, 0, 0, 0.1);
min-height: 45.41667vw;
left:0;
/* position:relative; */
top:0;
transition:background-color 300ms ease;
width:100%;
}


/* Hero Video + Fallback */

#hero-vid {
backface-visibility:hidden;
background:url("../images/logo_1.png") no-repeat scroll 0 0 #000;
background-size:cover;
bottom:0;
min-height: 20px;
min-width:100%;
perspective:1000;
position: absolute;
right:0;
width:auto;
z-index:-1;
}

/* Content Styles */

#title {
    /* backface-visibility:hidden; */
    left:0;
    perspective:1000;
    position: relative;
    width:100%;
    z-index: 1;
    top:350px;
    /* background-color: rgba(0,0,0,0.1); */
    padding-left: 350px;
    
    }
@media (max-width: 1324px) {
    #title {
        top: 200px;
        padding-left: 200px;
    }
}
@media (max-width: 870px) {
    #title {
        top: 100px;
        padding-left: 50px;
    }
}
@media (max-width: 606px) {
    #title {
        top: 5px;
        padding-left: 50px;
    }
}
    
#title h1 {
/* background-color:rgba(0,0,0,.5); */
font-family:"Poiret One", sans-serif;
font-size:2.5rem;
padding:1rem 1.75rem;
color:white;
position: relative;
/* min-width: 500%; */
margin-right: auto;
margin-left: auto;
}


/* Media Queries */

@media only screen and (max-width:768px) {
    #overlay { height:auto; }
}


/* Visibility Helpers */

/* @media only screen and (min-width:769px) {
    .visible-mobile,.visible-tablet,.hidden-desktop { display:none !important; }
}

@media only screen and (min-width:480px) and (max-width:768px) {
    .visible-mobile,.hidden-tablet,.visible-desktop { display:none !important; }
}

@media only screen and (max-width:479px) {
    .hidden-mobile,.visible-tablet,.visible-desktop { display:none !important; }
} */