@import url(http://fonts.googleapis.com/css?family=Raleway);

h1{
text-align:center;
color: black;
font-size: 2em;
margin-top: 40px;
margin-bottom: 40px;
}

#main{
margin: 25px 100px;
font-family: 'Raleway', sans-serif;
}

h2{
background-color: #FEFFED;
text-align:center;
border-radius: 10px 10px 0 0;
margin: -10px -40px;
padding: 30px 40px;
color: black;
font-weight: bolder;
font-size: 1.5em;
margin-top: -1px !important;
margin-bottom: -19px !important;
}

hr{
border:0;
border-bottom:1px solid #ccc;
margin: 10px -40px;
margin-bottom: 30px;
}

#login{
width:580px;
float: left;
border-radius: 10px;
font-family:raleway;
border: 2px solid #ccc;
padding: 0px 40px 0px;
margin-top: 70px;
margin: 50px;
margin: 0% 25%;
}

input[type=text],input[type=email],input[type=password]{
width:99.5%;
padding: 10px;
margin-top: 8px;
border: 1px solid #ccc;
padding-left: 5px;
font-size: 16px;
font-family:raleway;
}

textarea{
width:99.5%;
padding: 10px;
margin-top: 8px;
border: 1px solid #ccc;
padding-left: 5px;
margin-bottom: 40px;
font-size: 16px;
font-family:raleway;
}

input[type=submit],input[type=button]{
width: 49%;
background-color:#FFBC00;
color: white;
border: 2px solid #FFCB00;
padding: 10px;
font-size:20px;
cursor:pointer;
border-radius: 5px;
margin-bottom: 40px;
margin-left:25%
}

#track_mail{visibility: hidden;}
#track-div{margin-left:25%;}
#loading-image{margin-left:32%;}
#label{margin:0 20%;}
#para{
clear: both;
margin: 0 35%;
}
#view{padding-left:25%;}

form#form2 {
display: none;
}
img#closed-image, img#open-image {
margin: -6px 40% -40px 38%;
}
p#closed-para,div#color-read,div#color-not-read {
margin: 46px;
text-align: center;
line-height: 1.6em;
}
div#color-read{color:green;}
div#color-not-read{color:red;}