

.form-wrap-comentarios {
    margin-bottom: 80px;
    border-top: 10px solid rgb(25,167,252);
    position: relative;
    width: 100%;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

.form-wrap .tab-content {
    z-index: 10;
    position: relative;
    clear: both;
    background: #fff;
    padding: 29px;
}

.form-wrap .tab-content .tab-content-inner.active {
    display: block;
}

.form-wrap .tab-content .tab-content-inner.active .h3-comentarios {
    color: #000;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    font-size: 24px;
}

marquee {
    height: 300px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding-left: 20px;
}
.icon-comentarios {
    color: rgb(25,167,252);
    font-size: 34px;
    padding-top: 5px;
}

@media (max-width: 1200px) {
	.contenedor-comentarios {
        margin-top: 20px;
    }
}
