/*
*
* ToTop
*/
.ui-to-top {
	position: fixed;
	right: 15px;
	bottom: 15px;
	z-index: 100;
	width: 48px;
	height: 48px;
	border-radius: 6px;
	color: #fff;
	/* background: #EBAB49; */
	background-color:rgb(19, 165, 254);
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	transition: transform 0.45s ease-in-out, background 0.3s cubic-bezier(0.2, 1, 0.3, 1);
	transform: translate3d(0, 100px, 0);
}

.ui-to-top::before, .ui-to-top::after {
	content: '\f239';
	font-family: 'Material Design Icons';
	font-size: 20px;
	line-height: 48px;
	vertical-align: middle;
	transition: transform 0.3s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.3s cubic-bezier(0.2, 1, 0.3, 1);
}

.ui-to-top::before {
	display: block;
}

.ui-to-top::after {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	opacity: 0;
	transform: translate3d(0, 0, 0);
}

.ui-to-top:hover::before {
	opacity: 0;
	transform: translate3d(0, -30%, 0);
}

.ui-to-top:hover::after {
	opacity: 1;
	transform: translate3d(0, 0, 0) translateY(-50%);
}

.ui-to-top:hover {
	color: #fff;
	/* background: #eeb660; */
	/* background:rgba(242, 156, 0, 1); */
	background:rgba(0,0,0, 1);
	text-decoration: none;
}

.ui-to-top:focus {
	color: #fff;
}

.ui-to-top.active {
	transform: translate3d(0, 0, 0);
}

html.mobile .ui-to-top,
html.tablet .ui-to-top {
	display: none !important;
}

@media (min-width: 576px) {
	.ui-to-top {
		right: 40px;
		bottom: 40px;
	}
}